@media only screen and (max-width: 999px){
 .rectangle {
   position: fixed;
   position: fixed; /* Safari */
   top: 0px;
   left: 0px;
   z-index: 1;
   width: 100%;
   height: 55px;
   background: #f5f5f5;
}  
  div.pageCard {
    position: absolute;
    margin-top: -25px;
    background-color: white;
    z-index: -1;
    width: 100%;
    height: 100%;
}

html {
 height: 100%;
}
   body {
   font-family: 'Poppins';
   min-height: 100%;
   margin: 0;
   background-color: #830830;
   text-align: center;
}

  @keyframes fadeAnimation{
   from{
     opacity: 0;
   }
   to{
     opacity: 1;
   }
}
  a:link, a:visited {
   z-index: 1;
   top: 15px;
   left: 0px;
   position: sticky;
   position: -webkit-sticky; /* Safari */
   color: black;
   border-style: hidden;
   padding: 9px 9px; 
   text-align: center;
   font-size: 18px;
   text-decoration: none;
   display: inline-block;
   animation: fadeAnimation .7s ease-in;
}

  a:hover {
   z-index: 1;
   top: 10px;
   left: 0px;
   position: sticky;
   position: -webkit-sticky; /* Safari */
   color: black;
   border-style: hidden;
   padding: 9px 9px; 
   text-align: center;
   font-size: 19px;
   text-decoration: none;
   display: inline-block;
}

 h1 {
   font-weight: 100;
   text-align: center;
   z-index: -6;
   color: white;
   margin-top: -190px;
   margin-bottom: 90px;
   font-size: 2.5rem;
   animation: headingAnimation 0.75s ease-in;
}
@keyframes headingAnimation {
   from {
    opacity: 0;
    margin-top: -180px;
    margin-bottom: 80px;
}

   to {
    opacity: 1;
    margin-top: -190px;
    margin-bottom: 90px;
}
}
  img.mobileBanner{
    z-index: -6;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    margin-top: -60px;
    width: 100%;
    height: 35%;
    animation: fadeAnimation .75s ease-in;
}

  img.desktopBanner{
    display: none;
  }
  h5 {
   z-index: 1;
   position: static;
   text-align: center;
   color: black;
   font-size: 24px;
   margin-left: 45px;
   margin-right: 45px;
   animation: fadeAnimation 1.1s ease-in;
}
  h5.bottomText {
   font-size: 20px;
}

/* SELECT OPTIONS */
 .inventorySelect {
    margin-left: 4px;
    margin-top: 15px;
    position: relative;
    display: inline-block;
}
 .inventorySelect select {
    font-family: 'Poppins';
    font-size: 13px;
    padding: 9px;
}
}




@media only screen and (min-width: 1000px){
.rectangle {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 75px;
  background: rgb(0, 0, 0);
}

body {
  font-family: 'Poppins';
  margin: 0px;
  background-color: rgb(238, 238, 238);
  text-align: center;
}

h1 {
  color: black;
  z-index: 1;
  font-size: 100px;
  margin-top: 0px;
}

.mobileBanner{
 display: none;
}

.desktopBanner{
 position: fixed;
 top: 60px;
 left: 0px;
 z-index: 0;
 width: 100%;
 animation: fadeAnimation .85s ease-in;
}

h5 {
  color: black;
  font-size: 35px;
  z-index: 1;
  animation: fadeAnimation .8s ease-in;
}

.bottomText {
   font-size: 25px;
   margin-left: 5%;
   margin-right: 5%;
   animation: fadeAnimation .95s ease-in;
}

@keyframes fadeAnimation{
   from{
     opacity: 0;
   }
   to{
     opacity: 1;
   }
}

.button {
  top: 15px;
  position: relative;
  color: white;
  text-align: center;
  font-size: 18px;
  width: 15%;
  height: 100%;
  text-decoration: none;
  display: inline-block;
}

.title {
  top: 15px;
  position: relative;
  color: white;
  text-align: center;
  font-size: 26px;
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  font-size: 20px;
}

.selectedButton {
  top: 15px;
  position: relative;
  color: white;
  text-align: center;
  font-size: 18px;
  width: 15%;
  height: 100%;
  text-decoration: none;
  display: inline-block;
  border-top-style: solid;
  border-bottom: #f5f5f5;
  border-width: 2px;
}

.card {
 padding: 10px;
 border-radius: 20px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 animation: fadeAnimation .85s ease-in;
}

.pageCard {
    position: relative;
    background-color: rgb(238, 238, 238);
    top: 340px;
    z-index: 1;
    width: 100%;
    height: 120%;
}

/* SELECT OPTIONS */
.inventorySelect {
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  position: relative;
  
  box-shadow: inset;
  border-style: hidden;
  display: inline-block;
}

.inventorySelect select {
  font-family: 'Poppins';
  font-size: 18px;
  box-shadow: inset;
  border-style: hidden;
  padding: 15px;
}

.searchButton {
  text-align: center;
  border-style: none;
  color: white;
  background-color: rgb(66, 134, 235);
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Poppins';
  box-shadow: inset;
  font-size: 17px;
  text-decoration: none;
  display: inline-block;
}

}